<div class="container mt-2">
    <h1 class="text-center">Validar Edad Cliente</h1>
    <h4 class="fw-bold">Cliente: <span class="fw-normal">Douglas Castillo Flores</span> </h4>
    <h4 class="fw-bold">Edad: <span class="fw-normal">{{edad}}</span></h4>
    <div *ngIf="edad >= 18">
        <p class="text-success">El cliente es mayor de edad, puede ingresar al bar</p>
    </div>
    <button class="btn btn-success me-3" type="submit" (click)="amuentarEdad()">Aumentar Edad</button>
    <button class="btn btn-warning" type="submit" (click)="restarEdad()">Disminuir Edad</button>
    <hr>
    <h4 class="fw-bold mt-2">Hobbies:</h4>
    <ul *ngFor="let hobbie of hobbies" class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action">{{hobbie}}</li>
    </ul>
</div>

